/* ---------------------------
  A Modern CSS Reset
----------------------------- */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul, ol {
  margin: 0;
}

ul {
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ---------------------------
  variable
----------------------------- */
:root {
  --fontMainColor: #000000;
  --fontSubColor: #777777;
  --borderMainColor: #eeeeee;
  --borderSubColor: #cccccc;
  --mainFont: "Noto Sans JP", sans-serif;
  --minchoFont: "Noto Serif JP", serif;
}

/* ---------------------------
  mixin
----------------------------- */
/* ---------------------------
  base
----------------------------- */
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  color: var(--fontMainColor);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--mainFont);
  font-weight: 400;
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
}

a {
  color: var(--fontMainColor);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

/* ---------------------------
  utility
----------------------------- */
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* ---------------------------
  top
----------------------------- */
body {
  background-color: #000000;
}

.moon {
  max-width: 1080px;
  width: 100%;
  margin-inline: auto;
}
.moon canvas {
  margin-inline: auto;
}